<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="qlnh1.Properties.Settings.qlnhConnectionString" connectionString="Data Source=LAPTOP-6P78T5TO\SQLEXPRESS03;Initial Catalog=qlnh;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>